@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway/raleway-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/raleway-v18-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fontsraleway//raleway-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot");
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  padding-inline-start: 0px;
}

body * {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

.section {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .section {
    padding-bottom: 94px;
  }
}

@media (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
  }
}

.list,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .container .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container .container {
    width: 1200px;
  }
}

.header {
  position: relative;
  display: flex;
  /*   padding-top: 24px;
  padding-bottom: 24px;
 */
  margin-top: auto;
  margin-bottom: auto;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 481px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.logo {
  /* display: inline-block; */
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6667;
  letter-spacing: 0.03em;
}

.logo-span {
  color: #212121;
  /* display: inline-block; */
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6667;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 10px;
    border: none;
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button {
  background-color: transparent;
}

.burger-menu .icon-cross {
  display: none;
}

.burger-menu.is-open .icon-menu {
  display: none;
}

.burger-menu.is-open .icon-cross {
  display: block;
  fill: #212121;
}

.burger-menu.is-open .icon-cross:hover, .burger-menu.is-open .icon-cross:focus {
  fill: #2196f3;
}

.menu-button:hover .icon-cross,
.menu-button:hover .icon-menu {
  fill: #2196f3;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-button {
  margin-left: auto;
  background-color: inherit;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-cross {
  display: none;
}

.menu-button:focus .menu-button,
.menu-button:hover .menu-button {
  fill: #2196f3;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-container {
  display: none;
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
  z-index: 50;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.menu-container.is-open {
  display: block;
}

.menu-container .menu-item + .menu-item {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .menu-container .menu-item + .menu-item {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 100%;
    box-shadow: none;
  }
}

.link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .link {
    font-size: 14px;
    line-height: 1.1429;
  }
}

.link:hover, .link:focus {
  color: #2196f3;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.link.current {
  color: #2196f3;
}

.link.current {
  display: inline-block;
  position: relative;
}

.link.current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .link.current::after {
    margin-top: 28px;
  }
}

.link.current:hover::after {
  width: 100%;
}

.menu-list {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: 88px;
  }
  .menu-list .menu-item + .menu-item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-list {
    margin-left: 93px;
  }
}

.contacts-list {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    margin-top: 0;
    margin-left: 70px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    margin-left: auto;
  }
  .contacts-list .contacts-item + .contacts-item {
    margin-left: 40px;
  }
}

.contacts.link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: center;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .contacts.link {
    font-size: 14px;
    line-height: 1.1429;
  }
}

.contacts.link:first-child {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .contacts.link:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts.link:first-child {
    margin-bottom: 0px;
  }
}

.contacts.link:hover, .contacts.link:focus {
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  color: #2196f3;
}

.contacts.link:hover .contacts-svg,
.contacts.link:focus .contacts-svg {
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  fill: #2196f3;
}

.contacts.link .contacts-svg {
  margin-right: 4px;
}

@media screen and (min-width: 768px) {
  .contacts.link .contacts-svg {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts.link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts.link {
    font-size: 14px;
  }
}

.contacts-svg {
  fill: #757575;
  margin-right: 3px;
}

@media screen and (min-width: 768px) {
  .contacts-svg {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: all 0.5s ease-in;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animate 100ms;
  width: 100%;
  max-width: 450px;
  height: 609px;
  background-color: #ffffff;
  padding: 40px;
  transition: transform 0.5s;
  z-index: 50;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal::before {
  content: "";
}

@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    width: 450px;
  }
}

@media screen and (min-width: 1230px) {
  .modal {
    top: 50%;
    width: 100%;
    max-width: 528px;
    height: 581px;
  }
}

.modal-close-btn {
  position: absolute;
  display: inline-flex;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  align-items: center;
  height: 30px;
  width: 30px;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.modal-close-btn:hover, .modal-close-btn:focus {
  fill: #2196f3;
}

.modal-form {
  color: #757575;
}

.name-form-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 130px;
  left: 56px;
}

.tel-form-icon {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 197px;
  left: 56px;
}

.mail-form-icon {
  width: 15px;
  height: 13px;
  position: absolute;
  top: 263px;
  left: 56px;
}

.modal-header-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal-header-text {
    width: 100%;
  }
}

.field {
  width: 100%;
  height: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 10px 27px 10px 45px;
  outline: none;
}

.field:hover + .modal-icon,
.field:hover,
.field:focus + .modal-icon,
.field:focus {
  border-color: #2196f3;
  transition: all 0.5s ease-in;
  fill: #2196f3;
}

.comment-field {
  width: 100%;
  line-height: 1.4;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 12px 16px;
  resize: none;
  height: 120px;
  outline: none;
}

.comment-field:hover, .comment-field:focus {
  border-color: #2196f3;
  transition: all 0.2s ease-in;
}

.modal-checkbox {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.checkbox-check {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-left: -20px;
  background-repeat: no-repeat;
}

.modal-checkbox-input {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.modal-checkbox-input:focus + .checkbox-check {
  outline: 2px green;
  background-color: #2196f3;
  background-image: url(../svg/check.svg);
}

.agreement {
  padding-left: 20px;
}

.agreement-link {
  color: #2196f3;
}

.modal-button-div {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.modal-sendform-button {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #2196f3;
  border: 0px;
  cursor: pointer;
}

.modal-sendform-button:hover, .modal-sendform-button:focus {
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-sendform-buttext {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  letter-spacing: 0.06em;
}

.hero-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2f303a;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  background-image: radial-gradient(circle at center, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("../img/hero/hero-bg-mobile_x2.jpg");
  }
}

@media screen and (min-width: 767px) {
  .hero-section {
    background-image: url("../img/hero/hero-bg-tablet.jpg");
  }
}

@media (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("../img/hero/hero-bg-tablet_x2.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: url("../img/hero/hero-bg-desk.jpg");
  }
}

@media (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("../img/hero/hero-bg-desk_x2.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

/* @include for-size(desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../img/Hero-backgrnd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
  } */
/* .hero-text-container {
  margin-left: 45px;
  margin-right: 45px;

  @include for-size(tablet) {
    margin-left: 179px;
    margin-right: 179px;
  }

  @include for-size(desktop) {
    margin-left: 250px;
    margin-right: 250px;
  }
} */
.hero-text {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-text {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  margin-top: 30px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #2196f3;
  border: 0px;
}

.hero-buttext {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  letter-spacing: 0.06em;
}

.feature-item {
  box-sizing: border-box;
}

.feature-item::before {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  content: "";
  height: 120px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-1::before {
  background-image: url(../svg/Sattelite.svg);
}

.icon-2::before {
  background-image: url(../svg/clock.svg);
}

.icon-3::before {
  background-image: url(../svg/planning.svg);
}

.icon-4::before {
  background-image: url(../svg/Spaceman.svg);
}

.feature-section {
  padding-top: 60px;
}

@media (min-width: 1200px) {
  .feature-section {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.feature-list {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-item {
    width: calc((100% - 60px) / 2);
    margin-bottom: 30px;
  }
  .feature-item:nth-child(2n) {
    margin-left: 30px;
  }
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .feature-item {
    width: calc((100% - 90px) / 4);
    width: 270px;
  }
  .feature-item:not(:last-child) {
    margin-right: 30px;
  }
  .feature-list {
    display: flex;
    justify-content: center;
  }
}

.feature-item-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #212121;
}

@media (min-width: 768px) {
  .feature-item-title {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .feature-item-title {
    text-align: left;
  }
}

.feature-item-text {
  line-height: 1.71;
  color: #757575;
}

@media (min-width: 1200px) {
  .feature-item-text {
    text-align: left;
  }
}

.section .about-us-title {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
  margin-bottom: 50px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.what-we-do {
  display: none;
  padding-top: 47px;
}

@media screen and (min-width: 1200px) {
  .what-we-do {
    display: block;
  }
}

.what-we-do-list {
  display: flex;
  justify-content: center;
}

.what-we-do-img {
  position: relative;
}

.what-we-do-img:not(:first-child) {
  margin-left: 30px;
}

.what-we-do-overlay {
  position: absolute;
  display: flex;
  bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  background-color: #f5f4fa;
  padding-top: 60px;
}

@media (min-width: 768px) {
  .our-team {
    padding-top: 94px;
  }
}

@media (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
  }
}

.team-list {
  display: block;
  justify-content: center;
}

@media (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.team-list-people {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list-people {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-people {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list-people {
    text-align: center;
    width: calc((100% - 30px) / 2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
  }
  .team-list-people:nth-child(2n) {
    margin-left: 30px;
  }
  .team-list-people:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .team-list-people {
    text-align: center;
    width: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  .team-list-people:not(:first-child) {
    margin-left: 30px;
  }
}

.team-img {
  width: 100%;
}

.our-team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.our-team-name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.our-team-profession {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  color: #757575;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .our-team-profession {
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  .our-team-profession {
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
    margin-top: 10px;
  }
}

.social-links {
  display: flex;
  list-style: none;
  justify-content: center;
  max-width: 100%;
  margin-top: 16px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 0;
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .social-links {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .social-links {
    margin-bottom: 30px;
  }
}

.social-links-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-link:hover, .social-links-link:focus {
  background-color: #2196f3;
}

.social-links-item {
  display: block;
  background-color: white;
}

.social-links-item:not(:last-child) {
  padding-right: 10px;
}

.social-links-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-link:hover .social-links-icon,
.social-links-link:focus .social-links-icon {
  background-color: #2196f3;
  fill: #ffffff;
}

.our-clients-section {
  text-align: center;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .our-clients-section {
    padding-top: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .our-clients-section {
    padding-top: 94px;
  }
}

.our-clients-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  padding-bottom: 50px;
}

.our-clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

@media (max-width: 767px) {
  .our-clients-list {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .our-clients-list {
    flex-wrap: wrap;
  }
}

.our-clients-list-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: calc((100% - 60px) / 2);
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-list-item:hover, .our-clients-list-item:focus {
  border-color: #2196f3;
}

.our-clients-list-item:hover svg,
.our-clients-list-item:focus svg {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .our-clients-list-item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .our-clients-list-item {
    width: calc((100% - 180px) / 6);
  }
}

.our-clients-list-icon {
  fill: #afb1b8;
}

footer * {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.logo-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
}

.footer-widget {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-widget {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-widget {
    margin-bottom: 0;
    text-align: left;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer .adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}

.footer .contacts-list-footer li {
  margin-bottom: 9px;
  list-style: none;
}

.footer .list {
  padding: 0;
}

.footer .mailtel {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-list {
  margin-top: 20px;
}

.footer-container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
  }
}

.footer-social-links-container {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-social-links-container {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-links-container {
    margin-left: 70px;
    width: 206px;
  }
}

.footer--social-links-heading {
  margin-top: 12px;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer--social-links-heading {
    text-align: left;
  }
}

.footer-social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  max-width: 100%;
  margin-top: 20px;
}

.footer-social-links-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links-item {
  display: block;
  background-color: #2f303a;
}

.footer-social-links-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-links-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links-link:hover .footer-social-links-icon,
.footer-social-links-link:focus .footer-social-links-icon {
  background-color: #2196f3;
}

.footer-social-links-link:hover,
.footer-social-links-link:focus {
  background-color: #2196f3;
}

.subscribe-container {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .subscribe-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-container {
    margin-left: 93px;
  }
}

.subscribe-heading {
  margin-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe-heading {
    text-align: left;
  }
}

.subscribe-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    flex-wrap: nowrap;
  }
}

.subscribe-form .subscribe-email {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

@media screen and (min-width: 768px) {
  .subscribe-form .subscribe-email {
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form .subscribe-email {
    width: 358px;
  }
}

.subscribe-email:valid {
  color: green;
}

.subscribe-email:invalid {
  color: red;
}

.subscribe-email:focus-within {
  border-color: rgba(184, 184, 196, 0.987);
}

.subscribe-button {
  margin-top: 20px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  background-color: #2196f3;
  border: 0px;
  padding-right: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .subscribe-button {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-button {
    margin-left: 12px;
  }
}

.subscribe-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.subscribe-button-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  fill: #ffffff;
  margin-left: 10px;
  align-items: center;
}
/*# sourceMappingURL=main.css.map */