@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway/raleway-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway/raleway-v18-latin_cyrillic-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/raleway-v18-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fontsraleway//raleway-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot");
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

body * {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

.section {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .section {
    padding-bottom: 94px;
  }
}

@media (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
  }
}

/* @media screen and (min-width: 480px) {
  .section {
    width: 480px;
  }
} */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .container .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container .container {
    width: 1200px;
  }
}

header * {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: inline-block;
}

header ul a:hover,
header ul a:focus {
  color: #2196f3;
  fill: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-page {
  position: relative;
}

.active-page::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  bottom: 0px;
  bottom: -32px;
}

.mailtel-nav-mail-icon {
  display: inherit;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.mailtel-nav-tel-icon {
  display: inherit;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.page-header {
  margin-top: auto;
  padding-bottom: 0px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 80px;
}

.header-div {
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .header-div {
    width: 480px;
  }
}

.nav {
  margin-left: 93px;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}

.site-nav {
  display: none;
}

.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
  color: #000000;
}

.mailtel-nav {
  display: none;
  color: #757575;
  margin-left: auto;
}

.mailtel-nav .tel {
  padding-left: 50px;
}

.logo-web {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
}

.logo {
  display: flex;
  align-items: center;
  flex-basis: 1;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.burger-menu {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-left: auto;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .btn {
    display: none;
  }
}

/* .port-list {
  padding-top: 94px;
  padding-bottom: 94px;
} */
.port-nav-button {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .port-nav-button {
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .port-nav-button {
    margin-top: 94px;
    margin-bottom: 35px;
  }
}

.button-item {
  margin-bottom: 15px;
}

.port-nav-button-link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  min-width: 73px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-nav-button-link:hover, .port-nav-button-link:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.port-nav-button .item:not(:last-child) {
  margin-right: 8px;
}

.port-nav-button li {
  text-decoration: none;
  list-style: none;
}

.port-nav-button a {
  text-decoration: none;
  color: #212121;
}

.examples-item a {
  text-decoration: none;
}

.examples-item a .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-bottom: 4px;
  margin: 0px auto;
}

.examples-item a .type {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  letter-spacing: 0.03em;
}

.examples-item-descr {
  padding: 20px 24px;
}

.examples {
  display: flex;
  flex-wrap: wrap;
}

.examples-item:hover .overflow-type,
.examples-item:hover::before,
.examples-item:focus .overflow-type,
.examples-item:focus::before {
  opacity: 1;
  transform: translatey(0);
  background-color: rgba(33, 150, 243, 0.9);
}

.examples-item-overflow {
  position: relative;
  display: flex;
  overflow: hidden;
}

.overflow-type {
  height: 100%;
}

.examples-item-overflow p {
  position: absolute;
  margin: 0;
  font-size: 18px;
  padding: 24px 24px;
  line-height: 1.56;
  color: #ffffff;
  z-index: 2;
  place-self: center;
  opacity: 0;
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.examples-item-overflow::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.examples-item {
  display: block;
  width: 100%;
  /* margin-right: 30px;
  margin-bottom: 30px; */
  border: 1px solid #eeeeee;
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .examples-item {
    width: calc((100% - 30px) / 2);
  }
  .examples-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples-item {
    width: calc((100% - 60px) / 3);
  }
  .examples-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.examples-item img {
  width: 100%;
}

.examples-item {
  margin-bottom: 30px;
}

/* .examples-item:nth-last-child(-n + 3) {
  margin-bottom: 30px;
}
 */
.examples-item:hover,
.examples-item:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

footer * {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.logo-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
}

.footer-widget {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-widget {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-widget {
    margin-bottom: 0;
    text-align: left;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer .adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}

.footer .contacts-list li {
  margin-bottom: 9px;
  list-style: none;
}

.footer .list {
  padding: 0;
}

.footer .mailtel {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-list {
  margin-top: 20px;
}

.footer-container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
  }
}

.footer-social-links-container {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-social-links-container {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-links-container {
    margin-left: 70px;
    width: 206px;
  }
}

.footer--social-links-heading {
  margin-top: 12px;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer--social-links-heading {
    text-align: left;
  }
}

.footer-social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  max-width: 100%;
  margin-top: 20px;
}

.footer-social-links-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links-item {
  display: block;
  background-color: #2f303a;
}

.footer-social-links-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-links-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links-link:hover .footer-social-links-icon,
.footer-social-links-link:focus .footer-social-links-icon {
  background-color: #2196f3;
}

.footer-social-links-link:hover,
.footer-social-links-link:focus {
  background-color: #2196f3;
}

.subscribe-container {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .subscribe-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-container {
    margin-left: 93px;
  }
}

.subscribe-heading {
  margin-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe-heading {
    text-align: left;
  }
}

.subscribe-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    flex-wrap: nowrap;
  }
}

.subscribe-form .subscribe-email {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

@media screen and (min-width: 768px) {
  .subscribe-form .subscribe-email {
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form .subscribe-email {
    width: 358px;
  }
}

.subscribe-email:valid {
  color: green;
}

.subscribe-email:invalid {
  color: red;
}

.subscribe-email:focus-within {
  border-color: rgba(184, 184, 196, 0.987);
}

.subscribe-button {
  margin-top: 20px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  background-color: #2196f3;
  border: 0px;
  padding-right: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .subscribe-button {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-button {
    margin-left: 12px;
  }
}

.subscribe-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.subscribe-button-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  fill: #ffffff;
  margin-left: 10px;
  align-items: center;
}
/*# sourceMappingURL=portfolio.css.map */