.our-team {
  background-color: $feature-item-svg-bckgrnd;
  padding-top: 60px;

  @include for-size(tablet) {
    padding-top: 94px;
  }

  @include for-size(desktop) {
    padding-top: 94px;
  }
}

.team-list {
  display: block;
  justify-content: center;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include for-size(desktop) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.team-list-people {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $white;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list-people {
    text-align: center;
    width: calc((100% - 30px) / 2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $white;

    &:nth-child(2n) {
      margin-left: 30px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }
}

@include for-size(desktop) {
  .team-list-people {
    text-align: center;
    width: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $white;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;

    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.team-img {
  width: 100%;
}

.our-team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $title;
  margin-bottom: 50px;
}

.our-team-name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: $title;
}

.our-team-profession {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  color: $text;
  margin-top: 10px;

  @include for-size(tablet) {
    font-size: 16px;
    line-height: 1.19;
    color: $text;
    margin-top: 10px;
  }

  @include for-size(desktop) {
    font-size: 16px;
    line-height: 1.19;
    color: $text;
    margin-top: 10px;
  }
}
