/* .port-list {
  padding-top: 94px;
  padding-bottom: 94px;
} */

.port-nav-button {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 94px;
    margin-bottom: 35px;
  }
}

.button-item {
  margin-bottom: 15px;
}

.port-nav-button-link {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  min-width: 73px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $white;
    background-color: $logo-web;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.port-nav-button .item:not(:last-child) {
  margin-right: 8px;
}

.port-nav-button li {
  text-decoration: none;
  list-style: none;
}

.port-nav-button a {
  text-decoration: none;
  color: $title;
}
