img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 2px solid tomato;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  padding-inline-start: 0px;
}

$logo-web: #2196f3;
$background-color: #f5f4fa;
$text: #757575;
$white: #ffffff;
$logo-header: #000000;
$title: #212121;
$hero-bckgr: #2f303a;
$icon-color: #afb1b8;
$feature-item-svg-bckgrnd: #f5f4fa;
$footer-social-back-color: rgba(255, 255, 255, 0.1);
$modal-window-background: rgba(0, 0, 0, 0.2);
